#owl-demo .item{
    
    padding: 30px 3px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    height: 100%;
}
.owl-wrapper-outer{
	height: 100%;

}
.owl-wrapper{
	height: 100%;
}
.owl-item{
	height:100%;
}
#owl-demo {
	height: 100%;
}